DailyTalkContiguous/
.venv/
*.7z
*.wav
*.jsonl
*.json
*.txt
*.csv
*.tsv
*.xlsx
*.xls
*.docx
*.doc
*.bak*

__pycache__/
*.pyc

.temp_worker_outputs/
wav2vec2_checkpoints/
.envrc
emotion_tagging/__pycache__/ser_fish_tagging.cpython-312.pyc
